.vertical-buttons {
    margin-bottom: 1em;
}

.progress-bar {
    min-width: 10%;
}

.progress {
    margin-bottom: 1ex;
}

.card-block {
    padding: 0.75rem;
}

li.bg-success, li.bg-danger, li.bg-warning {
    padding-left: 0.5ex;
}

li ul li {
    padding-left: 0.5ex;
}

li ul {
    padding-left: 1.2em;
    list-style: none;
}
