/*
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
*/

.vertical-buttons {
    margin-bottom: 1em;
}

.progress-bar {
    min-width: 10%;
}

.progress {
    margin-bottom: 1ex;
}

li {
    padding: 0 0 0 0.5ex;
}

li ul {
    padding-left: 1.2em;
    list-style: none;
}
