{% extends 'board/base.html' %}
{% load tz %}
{% block meta %}
    <meta http-equiv="refresh" content="60;">
{% endblock meta %}

{% block content %}
    <h1>{% block title %}Salle IF{% endblock title %}</h1>
    <div class="row">
        {% for computer in computer_list %}
            {% with status=computer.status %}
                <div class="col-sm-4 col-md-3">
                    <div class="panel panel-{% if computer.is_ok %}success{% else %}danger{% endif %}">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ computer.name }}</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li class="{% if status.imprimante_ma %}text-success bg-success{% else %}text-danger bg-danger{% endif %}">
                                    Imprimante MA
                                </li>
                                <li class="{% if status.shutdown %}text-success bg-success{% else %}text-danger bg-danger{% endif %}">
                                    Tâche d'extinction
                                </li>
                                <li>Logiciels :
                                    <ul>
                                        {% for app, installed in computer.get_sorted_apps %}
                                            <li class="{% if installed %}text-success bg-success{% else %}text-danger bg-danger{% endif %}">
                                                {{ app|title }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li>RAM
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                             aria-valuemin="0" aria-valuemax="100" style="width: {{computer.get_ram_percentage}}%;">
                                            {{computer.get_ram_percentage}}%
                                        </div>
                                    </div>
                                </li>
                                <li>Disque
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                             aria-valuemin="0" aria-valuemax="100" style="width: {{computer.get_disk_percentage}}%;">
                                            {{computer.get_disk_percentage}}%
                                        </div>
                                    </div>
                                </li>
                                <li class="{% if computer.is_offline %}text-warning bg-warning{% else %}text-success bg-success{% endif %}">Dernier reporting
                                    {{ computer.last_update|date:"SHORT_DATETIME_FORMAT"}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endwith %}
            {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
